body{
    background-color: #F9F9F9;
}

.container{
    max-width: 768px;
    margin: auto;
    padding: 0 1rem;
}

.btn{
    background-color: var(--main-color-dark);
    display: flex;
    outline: none;
    border: 0;
	outline: none;
    color: #fff;
    min-width: 56px;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 25px;
	border-radius: 8px;
    align-items: center;
    justify-content: center;
    transition: background .2s ease, color .2s ease;
}
.btn:hover{
	background-color: var(--main-color);
	color: #000;
	outline: none;
}

/* ? HEADER */

header#header{
    padding: 2rem 0;
}
header#header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header#header .logo{
	text-align: center;
	display: flex;
	gap: 20px;
	align-items: center;
}
header#header .logo .x{
	position: relative;
	width: 32px;
	height: 32px;
}
header#header .logo .x::before,
header#header .logo .x::after{
	position: absolute;
	background: #aaa;
	width: 32px;
	height: 1px;
	content: "";
	left: 50%;
	top: 50%;
	display: block;
}
header#header .logo .x::before{
	transform: translate(-50%, -50%) rotate(45deg);
}
header#header .logo .x::after{
	transform: translate(-50%, -50%) rotate(-45deg);
}
header#header .logo a{
    display: block;
}
header#header .logo img{
	display: block;
	width: 60px;
    height: 60px;
}
header#header .cart{
    position: relative;
}
header#header .cart button{
    background-color: #D9D9D9;
    position: relative;
    display: flex;
	width: 40px;
	height: 40px;
    border: 0;
    padding: 0;
    outline: none;
	align-items: center;
	justify-content: center;
	transition: background .4s ease;
}
header#header .cart button .cart-icon{
    color: #000;
}
header#header .cart button .cart-icon svg{
    pointer-events: none;
}
header#header .cart button.link-active{
	background-color: #000;
}
header#header .cart button.link-active .cart-icon{
	color: #fff;
}
header#header .cart button .cart-count{
    background-color: #000;
    position: absolute;
    display: flex;
    width: 24px;
    height: 24px;
    top: -16px;
    right: -16px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    border-radius: 35px;
    align-items: center;
    justify-content: center;
}
header#header .cart .cart-box{
    background-color: #fff;
    position: absolute;
    display: grid;
    z-index: 1;
    right: 0;
    top: calc(100% + 1rem);
    gap: 1rem;
	opacity: 0;
    width: 400px;
    padding: 1.5rem;
    overflow-y: auto;
    max-height: 542px;
	visibility: hidden;
    border-radius: 12px;
    grid-template-columns: 100%;
}
header#header .cart .cart-box.open{
	animation-name: boxShowUp;
	animation-duration: .6s;
	animation-fill-mode: forwards;
}
@keyframes boxShowUp {
	0%{
		opacity: 0;
		visibility: hidden;
	}
	100%{
		opacity: 1;
		visibility: visible;
	}
}
header#header .cart .cart-box .item{
    display: flex;
    justify-content: space-between;
}
header#header .cart .cart-box .item .col{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}
header#header .cart .cart-box .item .col .image img{
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 8px;
}
header#header .cart .cart-box .item .col .info{
    display: flex;
    gap: .5rem;
    flex-direction: column;
}
header#header .cart .cart-box .item .col .info h4{
    color: #000;
    margin: 0;
    font-size: 16px;
}
header#header .cart .cart-box .item .col .info .quantity{
    position: relative;
    display: flex;
    gap: .5rem;
}
header#header .cart .cart-box .item .col .info .quantity button{
    background-color: var(--main-color-dark);
    position: absolute;
    color: #fff;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 10px;
    font-size: 18px;
    line-height: .8;
    font-weight: bold;
    border-radius: 35px;
    transform: translateY(-50%);
	transition: background .2s ease, color .2s ease;
}
header#header .cart .cart-box .item .col .info .quantity button:hover{
	background-color: var(--main-color);
	color: #000;
}
header#header .cart .cart-box .item .col .info .quantity button:last-of-type{
    left: initial;
    right: 10px;
}
header#header .cart .cart-box .item .col .info .quantity input{
    background-color: #D9D9D9;
    color: #000;
    display: block;
    width: 56px;
    border: 0;
    outline: none;
    font-weight: bold;
    padding: 10px 30px;
    text-align: center;
    border-radius: 35px;
}
header#header .cart .cart-box .item .col .info .price{
    display: flex;
    gap: .5rem;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}
header#header .cart .cart-box .item .col .info .price .price-discount + span.price-current {
    opacity: .4;
    text-decoration: line-through;
}
header#header .cart .cart-box .item .actions button{
    background-color: #f0d6d6;
    display: flex;
    height: 32px;
    width: 32px;
    color: #fff;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
	transition: background .2s ease;
}
header#header .cart .cart-box .item .actions button svg{
    display: block;
    width: 14px;
	color: #d82020;
	transition: color .2s ease;
}
header#header .cart .cart-box .item .actions button:hover{
	background-color: #d82020;
}
header#header .cart .cart-box .item .actions button:hover svg{
	color: #fff;
}
header#header .cart .cart-box .total{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header#header .cart .cart-box .empty{
    color: #000;
    text-align: center;
}

/* ? PRODUCTS */

section.products{
    display: grid;
    gap: 1.5rem;
    padding-top: 2.5rem;
    grid-template-columns: repeat(3, 1fr);
}
section.products .product-item{
    padding: 1rem;
    border-radius: 12px;
    transition: background .2s ease;
}
section.products .product-item:hover{
    background-color: #D9D9D9;
}
section.products .product-item .item-image img{
    display: block;
    border-radius: 12px;
}
section.products .product-item .item-content{
    padding-top: 1rem;
}
section.products .product-item .item-content h4{
    color: #000;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: .2rem;
}
section.products .product-item .item-content p{
    font-size: 14px;
    margin: 0;
    color: #000;
    opacity: .6;
    font-weight: 300;
}
section.products .product-item .item-content .item-price{
    display: flex;
    gap: .4rem;
    margin: .6rem 0;
}
section.products .product-item .item-content span{
    color: #000;
    font-size: 18px;
    font-weight: 600;
}
section.products .product-item .item-content span.price-discount{

}
section.products .product-item .item-content span.price-current{

}
section.products .product-item .item-content span.price-discount + span.price-current{
    opacity: .4;
    text-decoration: line-through;
}